

.login-card {
  /* background-color: #e0e1e2; */
  background-color: #fff;
  align-items: center;
  width:400px;

}

.login-card mat-card-title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.login-card  mat-form-field .login-input input{
   margin-bottom: 0;
}

.login-card mat-form-field {
  width: 300px;
  margin-bottom: 10px;
}
.login-card .login-button {
  background-color: #2196f3;
  color: #fff;
  height: 50px;
  font-size: large;
}

.error{
  color:red;
  margin-top: 0;
  margin-bottom: 2px;
}
.error-message {
  color: red;       /* Set the text color to red */
  border: 1px solid red;  /* Add a red border */
  padding: 10px;    /* Add padding */
  margin: 0 0 10px;   /* Add margin to create space around the error message */
}
h2{
  color:rgba(42, 0, 89, 1);
  font-weight:500;
  font-size: 26px;
  line-height:28px;
  text-align: center;
}
