<mat-card class="login-card bg-blue e-round-corner">
  <h2 class="mt-4">Welcome to MYNDpayroll !</h2>
  <mat-card-title><h2>Login</h2></mat-card-title>
  <p>Enter your username ID & Password in order to proceed.</p>

  <mat-card-content class="center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="" formControlName="username" />
          <mat-icon matSuffix>account_box</mat-icon>
          <div
            *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)"
            class="form-text w-100 text-danger">
            <div *ngIf="loginForm.controls.username.errors?.required">Username is required.</div>
            <div *ngIf="loginForm.controls.username.errors?.pattern">Invalid username format.</div>
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password"  required />
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPassword?'visibility_off':'visibility'}}
          </mat-icon>
          <div
            *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
            class="form-text w-100 text-danger">
            <div *ngIf="loginForm.controls.password.errors?.required">password is required.</div>
            <div *ngIf="loginForm.controls.password.errors?.pattern">Invalid password format.</div>
          </div>
        </mat-form-field>
      </div>
      <div *ngIf="submitError" class="error-message">{{ submitError }}</div>
      <button mat-raised-button class="login-button" [disabled]="!isloginValid">
        <span *ngIf="!onloading">Login</span>
        <mat-spinner *ngIf="onloading" diameter="20" class="login-spinner"></mat-spinner>
      </button>
    </form>
  </mat-card-content>
</mat-card>
