
.save-btn {
  border: none;
  background-color: #0da1f0;
  color: white;
  padding:25px 40px;
  font-size:large;
}
.title-text {
  font-weight: bold;
  font-size: 20px;
  color:white;
}
.label {
  font-size:18px;
  font-weight:500;
  margin-top: 30px;
  margin-bottom:10px;
}
input[type="text"] {
  width:200px;
  height: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #0da1f0;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}
.error {
  color: red;
  margin-top: 10px;
  margin-bottom: 2px;
  width: 210px;
  text-align: center;
  border-radius: 6px;
  margin-left: 60px;
}