<div class="container-fluid">
  <nav class="navbar navbar-expand-sm fixed-top ">
    <div class="navbar-brand" style="width:300px">
      <a class="header item navColorRed" routerLink="/">
        <img src="./assets/images/logo.png" class="img-fluid" height="20px" alt="logo"
          style="margin-right: 10px;">Payroll
        Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="row">
      <div class="col-7">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="user && !user.admin">
            <a class="nav-link" routerLink="/worklist" routerLinkActive="active">Worklist</a>
          </li>
          <li class="nav-item" *ngIf="user && !user.admin">
            <a class="nav-link" [routerLink]="[ '/create-company' ]" routerLinkActive="active"
              style="cursor: pointer;">Create Company </a>
          </li>
          <li class="nav-item" *ngIf="user && user.admin">
            <a class="nav-link" (click)="createuser()" style="cursor: pointer;" >Create User</a>
          </li>
          <li class="nav-item" *ngIf="user && user.admin">
            <a class="nav-link" (click)="outputCred()" style="cursor: pointer;" routerLinkActive="active">Payroll Output </a>
          </li>

        </ul>
      </div>
      <div class="col-5" *ngIf="user">
        <div ngbDropdown class="d-inline-block me-5">
          <a class="btn text-white" id="dropdownBasic1" ngbDropdownToggle>
            <img src="./assets/images/user.png" alt="user avatar" class="mr-2 user" />
            <span class="text-white" style="width:20px;">{{ user.username }}</span>
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="logout()">Log out</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
