.cle-btn {
  border: 1px solid black;
  border: none;
  background-color: #0da1f0;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
}
.save-btn {
  border: none;
  background-color: #0da1f0;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
}
.title-text {
  font-weight: bold;
  font-size: 20px;
  color:white;
}
.process-box {
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  margin: 1rem 0;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid rgba(34, 36, 38, .15);
  background: #fff;
}



select {
  cursor: pointer;
  text-align: center;
  line-height: 1em;
  width: 250px;
  white-space: normal;
  outline: 0;
  height: 40px;
  background: #fff;
  display: inline-block;
  color: rgba(0, 0, 0, .87);
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 0.28571429rem;
}

.positives-btn {
  background-color: #21ba45;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  padding: 8px;
  outline: 0;
  border: none;
  border-radius: 6px;
  margin-top: 0;
}

.file-input {
  display: none;
}