
/* @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css'; */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eaeaea !important;
}


/* html {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
} */
/* html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

.mat-dialog-actions {
  justify-content: flex-end;
}

.mat-dialog-container {
  max-height: 400px;
  max-width: 600px;
}

.custom-dropdown .dropdown-list {
  max-height: 300px;
}

.custom-dropdown .dropdown-btn {
  width: 300px;
}



.cancel-button {
  color: white;
  font-size: 24px;
}

.title-text {
  font-weight: bold;
  font-size: 20px;
}

.blue-button {
  background-color: #0da1f0;
  color: white;
}

.cle-btn {
  border: 1px solid black;
  border: none;
  background-color: #0da1f0;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
}

.save-btn {
  border: none;
  background-color: #0da1f0;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
}

.large-input {
  font-size: 18px;
}

.singleselect .multiselect-item-checkbox {
  padding: 0px !important;
}

.singleselect input[type=checkbox]+div:before {
  display: none;
}

.singleselect input[type=checkbox]+div:after {
  display: none;
}

.singleselect input[type=checkbox]+div {
  padding: 6px 10px !important;
}

.singleselect input[type=checkbox]:checked+div {

  color: black !important;
}

.singleselect .multiselect-dropdown {
  width: 250px !important;
}

.dropdown-list {
  position: fixed !important;
  padding-top: 6px;
  width: 100%;
  position: absolute !important;
  z-index: 10 !important;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  margin-top: 10px;
  box-shadow: 0 1px 5px #959595;
  max-height: 300px;
  max-width: 300px;
  overflow-y: auto;
}

.custom-dropdown {
  position: relative;
}

.custom-dropdown.open {

}


.custom-dropdown input[type="text"]:focus {
  + .dropdown-list {
    display: block;
  }
}

.custom-dropdown .dropdown-list {
  display: none;
}
