
/* @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css'; */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eaeaea !important;
}


html {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.mat-dialog-container {
  max-height: 400px;
  /* Adjust the height as needed */
  max-width: 600px;
  /* Adjust the width as needed */
}

.custom-dropdown .dropdown-list {
  max-height: 300px;
  /* Adjust the height as needed */
}

.custom-dropdown .dropdown-btn {
  width: 300px;
  /* Adjust the width as needed */
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0da1f0;
  padding: 16px;
  color: white;
}

.cancel-button {
  color: white;
  font-size: 24px;
}

.title-text {
  font-weight: bold;
  font-size: 20px;
}

.blue-button {
  background-color: #0da1f0;
  color: white;
}

.cle-btn {
  border: 1px solid black;
  border: none;
  background-color: #0da1f0;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
}

.save-btn {
  border: none;
  background-color: #0da1f0;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
}

.large-input {
  font-size: 18px;
}

.singleselect .multiselect-item-checkbox {
  padding: 0px !important;
}

.singleselect input[type=checkbox]+div:before {
  display: none;
}

.singleselect input[type=checkbox]+div:after {
  display: none;
}

.singleselect input[type=checkbox]+div {
  padding: 6px 10px !important;
}

.singleselect input[type=checkbox]:checked+div {

  color: black !important;
}

.singleselect .multiselect-dropdown {
  width: 250px !important;
}
/*
a.nav-link.active {
  color: red;
} */
