

.bg-blue{
  background: linear-gradient( 135deg, rgb(255, 255, 255) 0%, rgb(8, 130, 201) 69%, rgb(35, 14, 233) 89%) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo-img {
  width: 3.5em;
  text-decoration: none;
  vertical-align: middle;
  margin-bottom: 35px;
  margin-left: 20px;
}

.payrol {
  font-weight: 500;
  font-Size: 52px;
  Line-height:48px;

}

.btn-white{
  font-size: 20px;
  outline: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  vertical-align: baseline;
  box-shadow: 0 0 0 2px #fff inset!important;
  background: transparent none;
  color: #fff;
  text-shadow: none!important;

}
.btn-white:hover{
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
}

/*home page styles*/
.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/

.tfoot {
  font-weight: bold;
}

.sub-header{
  font-size: 1.71428571rem;
  color:white;

}
.red {
  color: rgba(75, 94, 170, 1);
}

.green {
  color: rgba(238, 61, 150, 1);
}

.login-card {
  width: 421px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
 Height:311px;
Padding:24px, 24px, 48px, 24px;
Gap:32px;
}

.login-card label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;

  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width:332px;
  align-items:center !important;
}
h2{
  color:rgba(42, 0, 89, 1);
  font-weight:700;
  font-size: 24px;
  line-height:32px;
  text-align: center;
}

.login-card {
  background-color:  rgba(255, 255, 255, 1);
  align-items: center;
  width:421px;
  Height:332px;
  border-radius: 16px;
  border: 1px solid rgba(214, 214, 214, 1)
}


.login-card .login-button {
  background-color: #2196f3;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: large;
}

.error{
  color:red;
  margin-top: 0;
  margin-bottom: 2px;
}
.error-message {
  color: red;       /* Set the text color to red */
  border: 1px solid red;  /* Add a red border */
  padding: 10px;    /* Add padding */
  margin: 0 0 10px;   /* Add margin to create space around the error message */
}
