body {
  background-color: rgb(234, 234, 234) !important;
}

.bg-blue{
  background: linear-gradient( 135deg, rgb(255, 255, 255) 0%, rgb(8, 130, 201) 69%, rgb(35, 14, 233) 89%) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo-img {
  width: 3.5em;
  text-decoration: none;
  vertical-align: middle;
  margin-bottom: 35px;
  margin-left: 20px;
}

.payrol {
   font-size: 4em;;
   font-weight: 400;
   margin-right: 3px;
}

.btn-white{
  font-size: 20px;
  outline: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  vertical-align: baseline;
  box-shadow: 0 0 0 2px #fff inset!important;
  background: transparent none;
  color: #fff;
  text-shadow: none!important;

}
.btn-white:hover{
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
}

/*home page styles*/
.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/

.tfoot {
  font-weight: bold;
}
.sub-header{
  font-size: 1.71428571rem;
}
