<div class="container my-5">
  <!-- <div style="display: flex; justify-content: flex-end" class="mt-5">
    <button mat-flat-button class="positives-btn mt-4" (click)="createCompany()">
      <mat-icon>add</mat-icon>
      <span class>Create New Company</span>
    </button>
  </div> -->
  <form [formGroup]="createcompForm">
    <div class="card mt-5" style="border-radius: 16px;">
      <div class="card-body p-0">
        <div class="table table-responsive">
          <table class="table w-100 bg-light my-2 p-4" style="border: none; margin-bottom:30px;">
            <thead class="table-header">
              <tr class="text-center">
                <th class="table-header" style="width:50px;">S. No</th>
                <th class="table-header" style="width:200px;">Filetype</th>
                <th class="table-header" style="width:100px !important">Company Name</th>
                <th class="table-header" style="width:300px;">Sample</th>
                <th class="table-header" style="width:50px;">Select File</th>
                <th class="table-header" style="width:50px;">Upload</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td>1</td>
                <td>
                  <h6>Investment Proof Master File</h6>
                </td>
                <td>
                  <ng-multiselect-dropdown formControlName="company1" [placeholder]="'Select Company'"
                    [settings]="dropdownSettings" [data]="data?.Companies" (onSelect)="onItemSelect($event)"
                    [(ngModel)]="selectedCompany" class="singleselect e-align-middle">
                  </ng-multiselect-dropdown>
                </td>
                <td>
                  <label class="custom-file-upload" (click)="masterSamDownoad()">
                    <span class="material-icons">file_download</span>
                    Download Sample
                  </label>
                </td>
                <td>
                  <input type="file" name="file" (change)="onFileChange($event)">
                </td>
                <td>
                  <button class="btn btn-primary  px-5 py-2" (click)="masterfileUpload()">
                    <ng-container *ngIf="!loading; else loadingTemplate">
                      <span class="material-icons">file_upload</span>
                      Upload
                    </ng-container>
                  </button>
                  <ng-template #loadingTemplate>
                    <div class="spinner-border text-light" style="font: size 14px;" role="status">
                    </div>
                  </ng-template>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <h6> Investment Proof – Rent details File</h6>
                </td>
                <td>
                  <ng-multiselect-dropdown formControlName="company1" [placeholder]="'Select Company'"
                  [settings]="dropdownSettings" [data]="data?.Companies" (onSelect)="onItemSelect($event)"
                  [(ngModel)]="selectedCompany" class="singleselect e-align-middle">
                </ng-multiselect-dropdown>
                </td>
                <td>
                  <label class="custom-file-upload" (click)="rentSamDownoad()">
                    <span class="material-icons">file_download</span>
                    Download Sample
                  </label>
                </td>
                <td>
                  <input type="file" name="file" (change)="onFileChange($event)">
                </td>
                <td>
                  <button class="btn btn-primary  px-5" (click)="rentfileUpload()">
                    <ng-container *ngIf="!loadingr; else loadingTemplate">
                      <span class="material-icons">file_upload</span>
                      Upload
                    </ng-container>
                  </button>
                  <ng-template #loadingrTemplate>
                    <div class="spinner-border text-light" style="font: size 14px;" role="status">
                    </div>
                  </ng-template>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <h6>Investment Proof – Chapter VIA File</h6>
                </td>
                <td>
                  <ng-multiselect-dropdown formControlName="company1" [placeholder]="'Select Company'"
                    [settings]="dropdownSettings" [data]="data?.Companies" [(ngModel)]="selectedCompany"
                    class="singleselect e-align-middle">
                  </ng-multiselect-dropdown>
                </td>
                <td>
                  <label class="custom-file-upload" (click)="chapterSamDownoad()">
                    <span class="material-icons">file_download</span>
                    Download Sample
                  </label>
                </td>
                <td>
                  <input type="file" name="file" (change)="onFileChange($event)">
                </td>
                <td>
                  <button class="btn btn-primary  px-5" (click)="chapterfileUpload()">
                    <ng-container *ngIf="!loadingc; else loadingTemplate">
                      <span class="material-icons">file_upload</span>
                      Upload
                    </ng-container>
                  </button>
                  <ng-template #loadingcTemplate>
                    <div class="spinner-border text-light" style="font: size 14px;" role="status">
                    </div>
                  </ng-template>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  <h6> Investment Proof – House Property details File</h6>
                </td>
                <td>
                  <ng-multiselect-dropdown formControlName="company1" [placeholder]="'Select Company'"
                    [settings]="dropdownSettings" [data]="data?.Companies" [(ngModel)]="selectedCompany"
                    class="singleselect e-align-middle">
                  </ng-multiselect-dropdown>
                </td>
                <td>
                  <label class="custom-file-upload" (click)="houseSamDownoad()">
                    <span class="material-icons">file_download</span>
                    Download Sample
                  </label>
                </td>
                <td>
                  <input type="file" name="file" (change)="onFileChange($event)">
                </td>
                <td>
                  <button class="btn btn-primary  px-5" (click)="housefileUpload()">
                    <ng-container *ngIf="!loadingh; else loadingTemplate">
                      <span class="material-icons">file_upload</span>
                      Upload
                    </ng-container>
                  </button>
                  <ng-template #loadinghTemplate>
                    <div class="spinner-border text-light" style="font: size 14px;" role="status">
                    </div>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
