.process-box{
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  padding: 1em;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(34, 36, 38, .15);
  background: #fff;
  margin-bottom: 80px !important;
}
.process-box2{
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  border-radius: 2px;
  border: 1px solid rgba(34, 36, 38, .15);
  background: #fff;
  padding:15px;
  width: auto;
}

.positives-btn {
  background-color: #21ba45;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 8px;
  outline: 0;
  border: none;
  border-radius: 6px;
  margin-top: 0;
  width:80px; height: 38px;
}
.table-bordered{
  border: 1px solid rgba(34, 36, 38, .15);
  color:rgba(0,0,0,.87);
}

.font
{
  font-size: 14px;
  font-weight: 600;
  color:rgba(0,0,0,.87)
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  margin-top: 16px;
  font-size: 18px;
  color: #888; /* Change this color to your desired color */
}


::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
 stroke:red;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
  margin-bottom: 60px;
}
