<div *ngIf="vLoading" class="spinner-container">
  <mat-spinner diameter="20"></mat-spinner>
  <span class="loading-text">Loading...</span>
</div>
<div class="container-fluid ">
  <div class="container-fluid mt-3 ms-0">
    <div class="container left-align mt-5 process-box2 ms-5" style="display: inline-block;">
      <div class="mx-3 fs-5" style="display: inline; color: blue;">Total Assigned: <span style="color: black;">{{ (verified + pending) }}</span></div>
      <div class="mx-3 fs-5" style="display: inline; color: green;">Total Verified: <span style="color: black;">{{ verified }}</span></div>
      <div style="display: inline; color:red" class="fs-5 mx-3">Total Pending: <span style="color: black;">{{ pending }}</span></div>
    </div>
  </div>
  <div class="right-align  my-4 process-box ms-5 p3 table-responsive" style="border-radius: 10px;">
    <table mat-table [dataSource]="dataSource" class="table align-middle table-hover table-bordered">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="text-center"> S.No. </th>
        <td mat-cell class="text-center" *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>
      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef class="text-center"> File Name</th>
        <td mat-cell class="text-center" *matCellDef="let element"> {{ element.filename
          }} </td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Company</th>
        <td mat-cell class="text-center" *matCellDef="let element"> {{ element.company}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
        <td mat-cell class="text-center" *matCellDef="let element">
          <button class="positives-btn" (click)="viewQueueItem(element.id)"> <span *ngIf="!vLoading">View</span>
            <mat-spinner diameter="20" *ngIf="vLoading"></mat-spinner>

          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div style="text-align: center;" *ngIf="dataSource && dataSource.length === 0">
      Sorry! No Results found
    </div>
  </div>
</div>
