<footer id="footer" class="bg">
  <div class="margin-foot mt-3 text-primary">&copy; 2023  <a href="https://www.myndsolution.com/" target="_blank">Mynd Integrated Solutions</a>, All Rights Reserved.</div>
  <div class="col-md-2 col-4" style="margin-left:130px;">
    <img src="./assets/images/logo.png" class="img-fluid ms-5 mt-3" height="50px" width="60px" />
  </div>
  <div class="col-md-5 col-8 ml-5">
    <ul class="foot-link mt-3" >
      <li><a href="#" target="_blank">Privacy Policy</a></li>
      <li><a href="#" target="_blank">FAQ</a></li>
    </ul>
  </div>
</footer>
