<div class="container-fluid mt-2 p-5">
  <h2 class="text-center mb-3">Allocation</h2>
  <!--second box for allocation-->
  <div class="process-box">
    <h2>Assign Files</h2>
    <form [formGroup]="allocateForm" (ngSubmit)="onallocate(values)">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3">
          <label class="my-2 text-center">Company</label><br>
          <ng-multiselect-dropdown formControlName="company" [placeholder]="'Select Company'"
            [settings]="dropdownSettings" [data]="dropdownList.Companies"
            class="singleselect"></ng-multiselect-dropdown>
          <div
            *ngIf="allocateForm.controls['company'].invalid && (allocateForm.controls['company'].dirty || allocateForm.controls['company'].touched) "
            class="error mt-1">
            <div *ngIf="allocateForm.controls['company'].errors">
              company is required</div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3">
          <label class="my-2 text-center">File Type</label><br>
          <ng-multiselect-dropdown formControlName="filetype" [placeholder]="'Select filetype'"
            [settings]="dropdownSettingsa" [data]="dropdownList.Filetypes"
            class="singleselect"></ng-multiselect-dropdown>
          <div
            *ngIf="allocateForm.controls['filetype'].invalid && (allocateForm.controls['filetype'].dirty || allocateForm.controls['filetype'].touched) "
            class="error mt-1">
            <div *ngIf="allocateForm.controls['filetype'].errors">
              filetype is required</div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3">
          <label class="my-2 text-center">Section</label><br>
          <select formControlName="section" id="section" required>
            <option selected>Select section</option>
            <option *ngFor="let option  of section">{{option.text}}</option>
          </select>
          <div
            *ngIf="allocateForm.controls['section'].invalid && (allocateForm.controls['section'].dirty || allocateForm.controls['section'].touched) "
            class="error mt-1">
            <div *ngIf="allocateForm.controls['section'].errors">
              section is required</div>
          </div>
        </div>
        <div class="col-sm-6 col- md-4 col-lg-4 col-xl-4 mb-3">
          <label class="my-2 text-center">Select Agent to assign from</label><br>
          <ng-multiselect-dropdown formControlName="agent" [placeholder]="'Select Agent to assign from'"
            [settings]="dropdownSettingsb" [data]="dropdownList.Agents" class="singleselect"></ng-multiselect-dropdown>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3">
          <label class="my-2 text-center">Select Agent to assign to</label><br>
          <ng-multiselect-dropdown formControlName="assign_agent" [placeholder]="'Select Agent to asign to'"
            [settings]="dropdownSettingsb" [data]="dropdownList.Agents" class="singleselect"></ng-multiselect-dropdown>
          <div
            *ngIf="allocateForm.controls['assign_agent'].invalid && (allocateForm.controls['assign_agent'].dirty || allocateForm.controls['assign_agent'].touched) "
            class="error mt-1">
            <div *ngIf="allocateForm.controls['assign_agent'].errors">
              assign_agent is required</div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3">
          <label class="my-2 text-center">File count</label><br>
          <input type="number" placeholder="Enter Count" formControlName="count" required />
          <div
            *ngIf="allocateForm.controls['count'].invalid && (allocateForm.controls['count'].dirty || allocateForm.controls['count'].touched) "
            class="error mt-1">
            <div *ngIf="allocateForm.controls['count'].errors">
              count is required</div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 my-4">
          <button class="btn positives-btn">
            Allocate
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
